CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_n16r8.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_HW_INIT=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536
CONFIG_SD_SPI_PIN_MOSI=11
CONFIG_SD_SPI_PIN_MISO=13
CONFIG_SD_SPI_PIN_SCLK=12
CONFIG_SD_SPI_PIN_CS=10
CONFIG_SD_SPI_FREQUENCY_KHZ=4000
CONFIG_I2S_DOUT_PIN=4
CONFIG_I2S_BCLK_PIN=5
CONFIG_I2S_WS_PIN=6
CONFIG_I2S_MCLK_PIN=-1
